<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<form th:action="@{/admin/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>

<form th:action="@{/admin/category}" method="get">
    <button class="btn btn-md btn-info btn-block" name="category"
            type="Submit">Categories
    </button>
</form>

<h1 th:text="${title}">Default Title</h1>

<ul>
    <li th:each="agency : ${agencies}" th:text="${agency.title}"></li>
</ul>

<p th:unless="${agencies.size()}"><i>No Agencies added yet</i></p>
<p><a th:href="'/admin/category/add-item/' + ${categoryId}">Add Agency</a></p>



</body>
</html>